/*big tablets to 1200px (width smaller than the 1140px row)*/
@media only screen and (max-width:1200px){
    section.row-text {
        margin-top: 2em;
    }
    p.our {
        font-size: 29px;
        font-weight: 100;
        color: hsl(234, 12%, 34%);
        white-space: nowrap;
        line-height: 2em;
    }
    h1.reliable {
        font-size: 78px;
        font-weight: 100;
        color: hsl(234, 12%, 34%);
    }
    h1.powered {
        font-size: 82px;
        color: hsl(234, 12%, 34%);
    }
   
    
    section.row-box {
        
        margin-top: 20em;
    }
    .build {
        background-color: hsl(0, 0%, 98%);
        width: 24em;
        height: 21em;
        border-radius: 1em;
        border: 1px solid;
        box-shadow: 5px 10px 10px hsl(229, 6%, 66%);
        margin-top: 29em;
        margin-left: -65em;
    }
    
    .super {
        margin-top: -40em;
        margin-left: 0em;
        height: 20em;
        width: 24em;
       
        
        
       
    }
    .supervisor {
        font-size: 30px;
        margin-top: 1em;
        margin-left: 1em;
        color: hsl(234, 12%, 34%);
    }
    p.scan {
        line-height: 2em;
        margin-left: 1.5em;
        margin-top: 2em;
        color: hsl(234, 12%, 34%);
        font-size: 15px;
    }
    .builder {
        margin-top: 6em;
        background-color: hsl(0, 0%, 98%);
        width: 24em;
        height: 21em;
        border-radius: 1em;
        border: 1px solid;
        box-shadow: 5px 10px 10px hsl(229, 6%, 66%);
    }
    .regulary {
        background-color: hsl(0, 0%, 98%);
        width: 24em;
        height: 21em;
        border-radius: 1em;
        border: 1px solid;
        box-shadow: 5px 10px 10px hsl(229, 6%, 66%);
        margin-top: 2em;
    }
    h3.team {
        font-size: 30px;
        margin-top: 1em;
        margin-left: 1em;
        color: hsl(234, 12%, 34%);
    }
    .karma {
        font-size: 30px;
        margin-top: 1em;
        margin-left: 1em;
        color: hsl(234, 12%, 34%);
    }
    .calculator {
        font-size: 30px;
        margin-top: 1em;
        margin-left: 1em;
        color: hsl(234, 12%, 34%);
    }
    .note {
        border-radius: 8px;
        background: hsl(0, 78%, 62%);
        padding-right: 352px;
        border: 1px solid;
    }
    .talent {
        border-radius: 8px;
        background: hsl(34, 97%, 64%);
        padding-right: 352px;
        border: 1px solid;
    }
    .vision {
        border-radius: 8px;
        background: hsl(180, 62%, 55%);
        padding-right: 350px;
        border: 1px solid;
    }
    .no {
        border-radius: 8px;
        background: hsl(212, 86%, 64%);
        padding-right: 352px;
        border: 1px solid;
    }
    section.row-text {
        margin-top: 2em;
    }
    h1.reliable {
        font-size: 54px;
        font-weight: 100;
        color: hsl(234, 12%, 34%);
    }
    h1.powered {
        font-size: 58px;
        color: hsl(234, 12%, 34%);
    }
    p.our {
        font-size: 17px;
        font-weight: 100;
        color: hsl(234, 12%, 34%);
        white-space: nowrap;
        line-height: 2em;
    }
    .super {
        margin-top: -40em;
        margin-left: -7em;
        height: 21em;
        width: 24em;
    }
    .build {
        background-color: hsl(0, 0%, 98%);
        width: 24em;
        height: 21em;
        border-radius: 1em;
        border: 1px solid;
        box-shadow: 5px 10px 10px hsl(229, 6%, 66%);
        margin-top: 29em;
        /* margin-left: -57em; */
        margin-left: -37em;
    }
    section.row-model {
        display: flex;
        justify-content: space-around;
        /* margin-top: -27em; */
        display: grid;
    }


}

/*small tablets to big tablets: from 768px to 1023px*/
@media only screen and (max-width:1023px){
    section.row-text {
        margin-top: 2em;
    }
    p.our {
        font-size: 29px;
        font-weight: 100;
        color: hsl(234, 12%, 34%);
        white-space: nowrap;
        line-height: 2em;
    }
    h1.reliable {
        font-size: 78px;
        font-weight: 100;
        color: hsl(234, 12%, 34%);
    }
    
   
    section.row-box {
        margin-top: 20em;
    }
    .build {
        background-color: hsl(0, 0%, 98%);
        width: 24em;
        height: 21em;
        border-radius: 1em;
        border: 1px solid;
        box-shadow: 5px 10px 10px hsl(229, 6%, 66%);
        margin-top: 29em;
        /* margin-left: -57em; */
        margin-left: 0em;
    }
    section.row-model {
        display: flex;
        justify-content: space-around;
        /* margin-top: -27em; */
    }
    .super {
        margin-top: -40em;
        margin-left: 0em;
        height: 21em;
        width: 24em;
       
        
        
       
    }
    .note {
        border-radius: 8px;
        background: hsl(0, 78%, 62%);
        padding-right: 352px;
        border: 1px solid;
    }
    .regulary {
        background-color: hsl(0, 0%, 98%);
        width: 24em;
        height: 21em;
        border-radius: 1em;
        border: 1px solid;
        box-shadow: 5px 10px 10px hsl(229, 6%, 66%);
        margin-top: 2em;
    }
    .supervisor {
        font-size: 30px;
        margin-top: 1em;
        margin-left: 1em;
        color: hsl(234, 12%, 34%);
    }
    p.scan {
        line-height: 2em;
        margin-left: 1.5em;
        margin-top: 2em;
        color: hsl(234, 12%, 34%);
        font-size: 15px;
    }
    .builder {
        margin-top: 6em;
        background-color: hsl(0, 0%, 98%);
        width: 24em;
        height: 21em;
        border-radius: 1em;
        border: 1px solid;
        box-shadow: 5px 10px 10px hsl(229, 6%, 66%);
    }
    h3.team {
        font-size: 30px;
        margin-top: 1em;
        margin-left: 1em;
        color: hsl(234, 12%, 34%);
    }
    .karma {
        font-size: 30px;
        margin-top: 1em;
        margin-left: 1em;
        color: hsl(234, 12%, 34%);
    }
    .calculator {
        font-size: 30px;
        margin-top: 1em;
        margin-left: 1em;
        color: hsl(234, 12%, 34%);
    }
    .talent {
        border-radius: 8px;
        background: hsl(34, 97%, 64%);
        padding-right: 352px;
        border: 1px solid;
    }
    .vision {
        border-radius: 8px;
        background: hsl(180, 62%, 55%);
        padding-right: 352px;
        border: 1px solid;
    }
    .no {
        border-radius: 8px;
        background: hsl(212, 86%, 64%);
        padding-right: 352px;
        border: 1px solid;
    }
    section.row-model {
        display: flex;
        justify-content: space-around;
        /* margin-top: -27em; */
        display: grid;
    }
    h1.reliable {
        font-size: 55px;
        font-weight: 100;
        color: hsl(234, 12%, 34%);
    }
    p.our {
        font-size: 20px;
        font-weight: 100;
        color: hsl(234, 12%, 34%);
        white-space: nowrap;
        line-height: 2em;
    }
    
    
    
    


}

/*small phone to small tablets: from 481px to 767px*/
@media only screen and (max-width:767px){


}
/*small phone: from 0 to 480px*/
@media only screen and (max-width:480px){
    
}